

{#{% extends 'base.html.twig' %}#}

{#{% block title %}Log in!{% endblock %}#}

{#{% block body %}#}
{#    <form method="post">#}
{#        {% if error %}#}
{#            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#        {% endif %}#}

{#        {% if app.user %}#}
{#            <div class="mb-3">#}
{#                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#            </div>#}
{#        {% endif %}#}

{#        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{#        <label for="inputEmail">Email</label>#}
{#        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>#}
{#        <label for="inputPassword">Password</label>#}
{#        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}

{#        <input type="hidden" name="_csrf_token"#}
{#               value="{{ csrf_token('authenticate') }}"#}
{#        >#}

{#        <button class="btn btn-lg btn-primary" type="submit">#}
{#            Sign in#}
{#        </button>#}
{#    </form>#}
{#{% endblock %}#}




{% extends 'base.html.twig' %}



{% block stylesheets %}
    <link rel="stylesheet" href="media/css/login.css">



{% endblock %}

{% block javascripts %}
    <script src="media/js/login.js"></script>
    <script src="media/js/registration.js"></script>



{% endblock %}


{% block body%}
    {% if success %}
        <div id="custom-alert" class="custom-alert" >
            Registration Successful! You have to verifie your accont.
        </div>
    {% endif %}
    {% if errorm %}
        <div class="custom-error" >
            you have to verify your credentials
        </div>
    {% endif %}


    <div class="form-structor" >
        <div class="signup">
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <h2 class="form-title" id="signup"><span >or</span>Sign up</h2>
            <div class="form-holder">
                {{ form_widget(registrationForm.name, {'attr': {'class': 'input', 'placeholder': 'Full Name'}}) }}
                {{ form_widget(registrationForm.adress, {'attr': {'class': 'input', 'placeholder': 'Aderss'}}) }}
                {{ form_widget(registrationForm.phonNumber, {'attr': {'class': 'input', 'placeholder': 'Phone Number'}}) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'input', 'placeholder': 'Email'}}) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'input', 'placeholder': 'Password'}}) }}
                {{ form_rest(registrationForm) }}


            </div>

            <button type="submit" class="submit-btn">Sign up</button>
            {{ form_end(registrationForm) }}






        </div>

        <div class="login slide-up">
            <form method="post" > <!-- Set the action attribute to the desired URL -->

                <div class="center">
                    <h2 class="form-title" id="login"><span>or</span>Log in</h2>
                    <div class="form-holder">
                        <input type="email" class="input" placeholder="Email" name="email" value="{{ last_username }}" required autofocus/>
                        <input type="password" class="input" placeholder="password" name="password" />

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                    </div>
                    <button type="submit" class="submit-btn"> Log in</button>
                </div>

            </form>

        </div>

    </div>


{% endblock %}

