{% block stylesheets %}}
    <link rel="stylesheet" href="/media/css/home.css">

{% endblock %}
    {% block javascripts %}
        <script src="/media/js/home.js"></script>

    {% endblock %}
{% block body %}
    <div class="na">
        <nav>
            <div class="category-container" onmouseleave="hideCategories()">
                <div class="category-text" id="categoryText" onmouseover="showCategories()">
                    Select a category
                </div>
                <div class="category-dropdown" id="categoryDropdown" style="display: none;">
                   {% for categorie in categories %}
                    <div class="category-item" onclick="selectCategory('Electronics')"><a href="{{ path('client_product', {'categorie': categorie.id})}} " class="ca">{{ categorie.name }}</a></div>
                    {% endfor %}

                </div>
            </div>



        </nav>

    </div>
    <div class="background-container">
        <div>   </div>

    </div>

    <section id="produit">

        <a href="{{ path('phone') }}"><img src="/media/images/phones.png" alt=""></a>
        <a href="{{ path('electromenage') }}"><img src="/media/images/azus.png" alt=""></a>
        <a><img src="/media/images/lap2.png" alt=""></a>
        <a href="{{ path('laptop') }}"><img src="/media/images/laptop3.png" alt=""></a>



    </section>



{% endblock %}
<footer style="background-color: #0056b3">
    <h2>Contactez-nous</h2>






</footer>