{% block stylesheets %}}
    <link rel="stylesheet" href="/media/css/produit.css">




{% endblock %}
{% block body %}
    <div class="n">
        <nav>

            <div class="retour"><a href="{{ path('categorie') }}"> <img src="/media/images/retour.png"> Retourner a la page d'aceuille</a></div>
        </nav>
    </div>

    <div class="produit-container">
        {% for produit in produits %}
            <div class="produit-item">
                <div class="im"><img src="/upload_directory/{{ produit.fileName }}" alt="Product Image"></div>
                <div class="details">
                    <div class="name">{{ produit.name }} </div>
                    <div class="description">{{ produit.description }}</div>
                    <div class="ajout_panier">  <a href="{{ path('add', {id : produit.id}) }}"> <p style="color: #0a0a0a;text-decoration-style: dashed">Ajouter au panier</p><img src="/media/images/panier.png"> </a></div>
                    {% dump(produit.prix) %}
                </div>
                <div class="prix">{{ produit.prix }} DT</div>
            </div>
        {% else %}

                <div ><h3 style="font-size: 40px">produit n'existe pas</h3></div>

        {% endfor %}
    </div>
{% endblock %}