{% extends 'dashboard/dashboard.html.twig' %}

{% block body %}
    {{ parent() }}




    <div class="container_block">
        <h1>Categories</h1>
        <ul class="category-list">
            {% for categorie in categories %}


                <li class="category-item"><a href="{{ path('get-produits-by-categorie', {'categorie': categorie.id})}} " class="ca">{{ categorie.name }}</a> <div class="space-between"></div> </li>
            {% endfor %}



        </ul>
    </div>
    <div class="count"> <h1 class="titre">Totale utilisateur {{ count }}</h1></div>
    <div class="countproduit"> <h1 class="titre">Totale produit {{ countProduit }}</h1></div>


{% endblock %}